/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:repeating-radial-gradient(rgba(103, 187, 226, 0.5), rgba(94, 202, 235, 0.603),rgba(199, 233, 243, 0.514));
}

/* Menu de navegação */
nav {
    background: #000000;
    padding: 39px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 35px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border: 5px solid white;
    border-radius: 10%;
}
nav ul li a:hover {
    background: white;
    color: #333;
}

/* Conteúdo principal */
main {
    padding: 100px;
}

span {margin-left: 15px;}

h1 {
   -webkit-text-stroke-width: 7px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
   text-align: center;
   color: #000000;
   font-size: 50px;
   font-family: 'Jersey10-Regular';
   background-color: rgba(241, 240, 247, 0.884);
   border-radius: 20px;
   letter-spacing: 0.2cap;
   border: 7px solid black;
   margin-top: -1%;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);

}

 .p1 {
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: rgba(93, 122, 196, 0.151);
   font-size: 30px;
   text-align:justify;
   background-color: rgba(34, 32, 32, 0);
   font-family: 'Jersey10-Regular';
   letter-spacing: 0.01cap;
   padding: 15px;
  }

   .p2 {
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: rgba(93, 122, 196, 0.151);
   font-size: 33px;
   text-align:center;
   background-color: rgba(34, 32, 32, 0);
   font-family: 'Jersey10-Regular';
   letter-spacing: 0.01cap;
   padding: 15px;
  }

li {
   margin-bottom: 700px;
   font-size: 32px;
   -webkit-text-stroke-width: 7px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
 }


/* Imagens */

.Fidelis {
  float: left;
  margin-right: 25px;
  margin-left: 35px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 15px;
  box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
}


/* Formulário de contato */
form {
    display: flex;
    flex-direction:column;
    max-width: 800px;
    margin: auto;
    text-align: left;
}
form label {
    margin-top: 20px;
}
form input, form textarea {
    padding: 8px;
    margin-top: 5px;
}
form button {
    margin-top: 15px;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background: #555;
}